main{
    padding: 0 1.5rem;
}

.destaques{
    box-sizing: border-box;
    display: grid;
    gap: 0.5rem; 
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

 .destaques__itens--danca{
    grid-column: 1/3;
    grid-row: 1/2; 
} 
 
 .destaques__itens--teatro{
    grid-column: 2/3;
    grid-row: 2/4; 
}   

.categorias-destaque{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.categorias__titulo{
    color: var(--preto-fundo);
    margin: 20px 0;
}

.categorias__lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.categorias__lista--itens{
    display: flex;
    width: 100%; 
}

.categorias__tituloscategorias{
    color: var(--branco-menu);
    margin-bottom: 10px;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.categorias__tituloscategorias--amarelo{
    background-color: var(--amarelo-categorias);
}

.categorias__tituloscategorias--laranja{
    background-color: var(--laranja-categorias);
}

.categorias__tituloscategorias--azul{
    background-color: var(--azul-categorias)
}

.categorias__tituloscategorias--verde{
    background-color: var(--verde-categorias);
}

.secao-destaques{
    font-family: var(--fonte-principal);
    width: 100%
}

.destaques__cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.destaques__cabecalho--titulo{
    color: var(--preto-fundo);
    font-size: 1.5rem;
    margin: 20px 0;
    text-transform: uppercase;
}

.destaques__cabecalho--divisao{
    color: var(--preto-fundo);
    width: calc((100%-3rem)/3);
}

.destaques__cabecalho--divisao hr{
    border: 1px solid var(--preto-fundo); 
}

.secao-destaques__direcionador--voltar{
    background-color: var(--preto-fundo);
    background-image: url("../img/arrow_back_ios_new.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 1.5rem;
    width: 1.5rem; 
}

.secao-destaques__direcionador--avancar{
    background-color: var(--preto-fundo);
    background-image: url("../img/arrow_forward_ios.png");
    background-position: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 1.5rem; 
}

.secao-destaques picture{
    width: 100%;
}

.secao-destaques__imagem-card{
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
}

.secao-destaques__titulo-card{
    align-items: center;
    background-color: rgba(217, 217, 217, 0.35);
    box-sizing: border-box;
    display: flex;
    height: 3rem;
    justify-content: center;
    margin-top: -4rem;
    position: absolute;
    width: 300px;
}

.secao-destaques__texto-card{
    color: var(--branco-menu);
    font-size: 1rem;
}

.eventos{
    display: flex;
    flex-direction: column;
}

.eventos__titulo{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 20px 0;
}

.eventos__lista--cards{
    background-color: var(--cinza-claro-rodape-cards);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;   
    margin-bottom: 15px;
}

.eventos__lista--cards--imagem{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
}

.eventos__lista--cards--titulo{
    color: var(--preto-fundo);
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 600;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 15px 0 0 15px;
}

.eventos__lista--cards--informacoes{
    color: var(--preto-fundo);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    padding-left: 15px;
}

.eventos__lista--cards--informacoes--data{
    grid-column: 1/2;
    grid-row: 3/4;
    padding-bottom: 15px;
    padding-top: 15px;
}

.eventos__lista--cards--informacoes--local{
    grid-column: 1/2;
    grid-row: 4/5;
    padding-bottom: 15px;
    padding-top: 20px;
}

.eventos__lista--cards--botao{
    align-self: center;
    background-color: var(--preto-fundo);
    color: var(--branco-menu);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    grid-column: 2/2;
    grid-row: 4/5;
    height: 1rem;
    margin-right: 15px;
    padding: 10px 30px; 
    text-align: center;
    text-decoration: none;
}

.eventos__lista--cards--botao-principal{
    display: flex;
    justify-content: center;
    width: 100%;
}

.eventos__botao{
    background-color: var(--preto-fundo); 
    box-sizing: border-box;
    color: var(--branco-menu);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    padding: 15px 50px; 
    text-decoration: none;
}

.proximos-eventos__lista--cards{
    background-color: var(--cinza-claro-rodape-cards);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    margin-bottom: 15px;
    text-align: center;
}

.proximos-eventos__lista--cards--informacoes{
    background-color: var(--cinza-escuro-cards);
    color: var(--branco-menu);
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 20px 10px; 
    text-transform: uppercase;
}

.proximos-eventos__lista--cards--informacoes--principal{
    font-size: 2rem;
    margin-bottom: 10px;
}

.proximos-eventos__lista--cards--informacoes--dia{
    margin-bottom: 10px;
}

.proximos-eventos__lista--cards--agenda{
    align-items: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
}

.proximos-eventos__lista--cards--agenda--nome{
    color: var(--preto-fundo);
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: 600;
    grid-row: 1/2;
}

.proximos-eventos__lista--cards--agenda--botao{
    background-color: var(--preto-fundo);
    color: var(--branco-menu);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    grid-row: 2/3;
    padding: 10px;
    text-decoration: none;
}

@media screen and (min-width: 720px){

    .destaques{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }

    .destaques__itens--danca{
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .destaques__itens--musica{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .destaques__itens--pintura{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .destaques__itens--teatro{
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .categorias__lista{
        flex-direction: row;
        justify-content: space-between;
    }
 
    .categorias__lista--itens{
        width: calc(50% - 1.5rem);
    }

    .categorias__lista--itens:nth-child(1){
        order: 1;
    }

    .categorias__lista--itens:nth-child(2){
        order: 3;
    }

    .categorias__lista--itens:nth-child(3){
        order: 5;
    }

    .categorias__lista--itens:nth-child(4){
        order: 7;
    }

    .categorias__lista--itens:nth-child(5){
        order: 2;
    }

    .categorias__lista--itens:nth-child(6){
        order: 4;
    }

    .categorias__lista--itens:nth-child(7){
        order: 6;
    }

    .categorias__lista--itens:nth-child(8){
        order: 8;
    }
    
    .destaques__cabecalho--divisao{
        width: 70%;
    }

    .secao-destaques{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .secao-destaques__titulo-card{
        width: 312px;
    }

    .eventos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .eventos__lista--cards{
        width: calc(50% - 1.5rem);
    }

    .proximos-eventos__lista--cards{
        width: calc(50% - 1.5rem);
    }

    .eventos__lista--cards--botao-principal{
        justify-content: flex-end;

    }

}

@media screen and (min-width: 1440px){
    
    main{
        padding: 0 7.5rem;
    }

    .destaques{
        gap: 1rem;
        grid-template-columns: calc(50% - 0.75rem);
    }

    .destaques li img{
        height: 100%;
        width: 100%;
    }

    .categorias-destaque{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
    }
    
    .categorias{
        grid-column: 1/2;
    }

    .categorias__lista{
        row-gap: 1rem;
    }

    .categorias__tituloscategorias{
        margin-bottom: 0;
    }

    .secao-destaques{
        grid-column: 2/3;
    }

    .secao-destaques__titulo-card{
        width: 368px;
    }

    .eventos__lista--cards{
        width: calc(25% - 1.5rem);
    }

    .proximos-eventos__lista--cards{
        width: calc(33% - 1.5rem);
    }

}